extends layout

block content
    h1= title
    p Welcome to #[em ABC Vehicle Rental], a demostration Express website

    h1 Dynamic content

    if error
        p Error getting dynamic content.
    else
        p Information on vehicle availability:

        ul
            li #[strong Models count:] !{data.vehicleCount}
            li #[strong Total number of vehicles in inventory:] !{data.vehicleInstanceCount}
            li #[strong Vehicles available for rent:] !{data.vehicleInstanceAvailableCount}
            li #[strong Makes:] !{data.makeCount}
            li #[strong Vehicle types:] !{data.vehicleTypeCount}
